@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Roboto', sans-serif; 
    overflow-x: hidden;
}

:root{
    --dark: #121212;
    --dark-36: #212121a1;
    --gray: #292929;
    --light: #f2f2f2;
    --bg-base: rgb(34, 193, 195);
    --bg-gradient-a: rgba(34, 193, 195, 1);
    --bg-gradient-b: rgba(253, 187, 45, 1);
  }

button{
    cursor: pointer;
}

a{
    text-decoration: none;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: #fff;
}

h1, h2, h3, h4, h5, h6{
    font-weight: 700;
    margin-bottom: 0;
}

a, a:hover{
    text-decoration: none;
    color: unset;
}


  

  
